<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMS: Your Personalized Online Tutoring Destination</title>
    <script src="../../tailwind.config.js" defer></script>
    <link rel="stylesheet" href="../../dist/output.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script defer>
      $(function () {
        $('#includeFooter').load('../footer/footer.html');
        $('#includeNavigation').load('../navigation/navigation.html');
      });
    </script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script defer src="../../src/script.js"></script>
  </head>

  <body>
    <div id="includeNavigation"></div>
    <div class="sharethis-sticky-share-buttons"></div>
    <!-- ================  Header  =================== -->

    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center"
      >
        <div
          class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center z-10"
        >
          <h1
            class="title-font text-4xl font-[lato] mb-4 font-light text-gray-900 uppercase lg:text-5xl font-bold leading-tight PT-serif"
            data-aos="fade-in"
            data-aos-delay="250"
          >
            <span class="text-orange-600">One-on-one</span> Online
            <br class="hidden lg:inline-block" />Tutoring
          </h1>

          <ul
            class="max-w-md space-y-1 text-gray-900 list-disc list-inside dark:text-gray-400 sm:"
            data-aos="fade-in"
            data-aos-delay="400"
          >
            <li>Experienced and qualified tutors.</li>
            <li>One-on-one sessions.</li>
            <li>Flexible scheduling.</li>
            <li>Personalized learning plans.</li>
            <li>Engaging and interactive lessons.</li>
            <li>Affordable pricing.</li>
          </ul>

          <div class="flex justify-center">
            <a
              class="inline-flex text-white bg-orange-500 border-0 rounded-xl py-2 px-6 focus:outline-none mt-12 hover:bg-orange-600 uppercase cursor-pointer"
              data-aos="fade-right"
              data-aos-delay="700"
              href="../Trial/trial.html"
            >
              free trial
            </a>
          </div>
        </div>
        <div
          class="lg:max-w-xl lg:w-full md:w-1/2 w-5/6"
          id="hero-img"
          data-aos="zoom-in"
          data-aos-delay="700"
        >
          <div class="blob"></div>
          <img
            class="object-cover object-center rounded"
            alt="hero"
            src="../../images/vector/header-vector.png"
          />
        </div>
      </div>
    </header>
    <!-- =====================  Our Services  =============================== -->

    <section class="text-gray-600 body-font bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div
          class="flex flex-wrap w-full mb-20 flex-col items-center text-center"
        >
          <h2
            class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 font-bold leading-tight uppercase"
          >
            Our Services
          </h2>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-800">
            Customizable Learning Plans for Individual Progression
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 shadow-md p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex shadow-lg items-center justify-center rounded-full bg-orange-100 text-indigo-500 mb-5 flex-shrink-0"
              >
                <img src="../../images/icons/teacher.svg" alt="Teacher" />
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                Experienced tutors
              </h2>
              <p class="leading-relaxed text-base">
                we provide experienced tutors who have expertise in the subject
                matter they are teaching.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 shadow-md p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex shadow-lg items-center justify-center rounded-full bg-green-100 text-indigo-500 mb-5 flex-shrink-0"
              >
                <img src="../../images/icons/shedual.svg" alt="Scheduling" />
              </div>
              <h2 class="text-gray-900 font-medium title-font mb-2">
                Flexible Scheduling
              </h2>
              <p class="leading-relaxed text-base">
                flexible scheduling to accommodate the needs of students from
                different time zones.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 shadow-md p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex shadow-lg items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
              >
                <img src="../../images/icons/student.svg" alt="Student" />
              </div>
              <h2 class="text-gray-900 font-medium title-font mb-2">
                Personalized learning
              </h2>
              <p class="leading-relaxed text-base">
                personalized learning plans for each student, based on their
                strengths and weaknesses.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div
              class="border border-gray-200 shadow-md p-6 rounded-lg shadow-md"
            >
              <div
                class="w-20 h-20 inline-flex shadow-lg items-center justify-center rounded-full bg-green-100 text-indigo-500 mb-5 flex-shrink-0"
              >
                <img src="../../images/icons/update.svg" alt="Update icon" />
              </div>
              <h2 class="text-gray-900 font-medium title-font mb-2">
                Regular update
              </h2>
              <p class="leading-relaxed text-base">
                regularly update the progress of the students and provide
                feedback parents.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 shadow-md p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex shadow-lg items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0"
              >
                <img src="../../images/icons/secure.svg" alt="secure icon" />
              </div>
              <h2 class="text-gray-900 font-medium title-font mb-2">Secure</h2>
              <p class="leading-relaxed text-base">
                We use secure and reliable technology to ensure the safety and
                privacy of the students' personal information and data.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 shadow-md p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex shadow-lg items-center justify-center rounded-full bg-rad-100 text-indigo-500 mb-5 flex-shrink-0"
              >
                <img src="../../images/icons/pricing.svg" alt="Pricing icon" />
              </div>
              <h2 class="text-gray-900 font-medium title-font mb-2">
                Affordable pricing
              </h2>
              <p class="leading-relaxed text-base">
                affordable pricing options that are accessible to students of
                all backgrounds.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- =====================  Statics SEction  =============================== -->

    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h2
            class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 font-bold leading-tight uppercase"
          >
            Our Success Story
          </h2>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-800">
            Our mission is to help you succeed - let our statistics show you
            how.
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>

        <div class="flex flex-wrap -m-4 text-center">
          <div
            class="p-4 md:w-1/4 sm:w-1/2 w-full"
            data-aos="zoom-in-up"
            data-aos-delay="200"
          >
            <div class="flex flex-col items-center">
              <img
                src="../../images/statics/tutors.svg"
                alt="tutors"
                class="mb-4"
              />
              <h2 class="title-font font-bold text-3xl text-gray-900">100+</h2>
              <p class="leading-relaxed">Tutors</p>
            </div>
          </div>
          <div
            class="p-4 md:w-1/4 sm:w-1/2 w-full"
            data-aos="zoom-in-up"
            data-aos-delay="300"
          >
            <div class="flex flex-col items-center">
              <img
                src="../../images/statics/success.svg"
                alt="Trophy icon"
                class="mb-4"
              />
              <h2 class="title-font font-bold text-3xl text-gray-900">96%</h2>
              <p class="leading-relaxed">Success Rate</p>
            </div>
          </div>
          <div
            class="p-4 md:w-1/4 sm:w-1/2 w-full"
            data-aos="zoom-in-up"
            data-aos-delay="400"
          >
            <div class="flex flex-col items-center">
              <img
                src="../../images/statics/student.svg"
                alt="Student icon"
                class="mb-4"
              />
              <h2 class="title-font font-bold text-3xl text-gray-900">500+</h2>
              <p class="leading-relaxed">Students</p>
            </div>
          </div>
          <div
            class="p-4 md:w-1/4 sm:w-1/2 w-full"
            data-aos="zoom-in-up"
            data-aos-delay="500"
          >
            <div class="flex flex-col items-center">
              <img
                src="../../images/statics/subject.svg"
                alt="subject icon"
                class="mb-4"
              />
              <h2 class="title-font font-bold text-3xl text-gray-900">4+</h2>
              <p class="leading-relaxed">Subjects</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================ Testimonial section ========================= -->
    '
    <section class="container my-24 px-6 mx-auto bg-white p-10">
      <section class="text-gray-800 text-center">
        <h2 class="text-3xl font-bold mb-12">Tutors</h2>

        <div class="grid md:grid-cols-3 gap-x-6 lg:gap-x-12">
          <div class="mb-12 md:mb-0">
            <div class="flex justify-center mb-6">
              <img
                src="../../images/testimonial/asif-ali.jpg"
                class="rounded-full shadow-lg w-32"
              />
            </div>
            <h5 class="text-lg font-bold mb-4">Asif Ali</h5>
            <h6 class="font-medium text-blue-600 mb-4">English Tutor</h6>
            <p class="mb-4">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="quote-left"
                class="w-6 pr-2 inline-block"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
                ></path>
              </svg>
              "Asif is a good English teacher cultivates curiosity, critical
              thinking, and creativity to help students navigate the world
              through language.
            </p>
            <ul class="flex justify-center mb-0">
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
            </ul>
          </div>
          <div class="mb-12 md:mb-0">
            <div class="flex justify-center mb-6">
              <img
                src="../../images/testimonial/ali-raza.jpg"
                class="rounded-full shadow-lg w-32"
              />
            </div>
            <h5 class="text-lg font-bold mb-4">Ali Raza</h5>
            <h6 class="font-medium text-blue-600 mb-4">Science Tutor</h6>
            <p class="mb-4">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="quote-left"
                class="w-6 pr-2 inline-block"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
                ></path></svg
              >Ali is good science teacher ignites curiosity, encourages
              exploration, and fosters a love for understanding the natural
              world.
            </p>
            <ul class="flex justify-center mb-0">
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
            </ul>
          </div>
          <div class="mb-0">
            <div class="flex justify-center mb-6">
              <img
                src="../../images/testimonial/toqeer-abbas.jpg"
                class="rounded-full shadow-lg w-32"
              />
            </div>
            <h5 class="text-lg font-bold mb-4">Toqeer Abbas</h5>
            <h6 class="font-medium text-blue-600 mb-4">Math Tutor</h6>
            <p class="mb-4">
              <svg
                aria-hidden="true"
                focusable="false"
                data-prefix="fas"
                data-icon="quote-left"
                class="w-6 pr-2 inline-block"
                role="img"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"
                ></path></svg
              >Toqeer is good math teacher doesn't just teach numbers, but helps
              students build problem-solving skills and see the beauty of logic.
            </p>
            <ul class="flex justify-center mb-0">
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="star"
                  class="w-4 text-yellow-500"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    fill="currentColor"
                    d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"
                  ></path>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </section>

    <!-- =================================================================
    ============================ Getting Started======================================
  ========================================= -->
    <section class="body-font">
      <div class="container px-5 py-24 mx-auto">
        <div class="text-center mb-20">
          <h2
            class="sm:text-3xl text-2xl font-medium title-font text-gray-900 mb-4 font-bold leading-tight"
          >
            GETTING STARTED IS SIMPLE AS 123
          </h2>
          <p
            class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-800"
          >
            You can Start achieving your academic potential in just a few
            clicks.
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>
        <div
          class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6 justify-center"
        >
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div
              class="w-32 h-32 inline-flex items-center justify-center rounded-full bg-white text-indigo-500 mb-5 flex-shrink-0"
            >
              <img
                src="../../images/gs/headphone.svg"
                alt="Headphone icon"
                width="100px"
              />
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-bold mb-3">
                BOOK FREE LESSON
              </h2>
              <p class="leading-relaxed text-base">
                Book a free assessment lesson with our expert tutor by filling
                out the form.
              </p>
              <a
                class="mt-3 text-blue-500 inline-flex items-center cursor-pointer"
                href="../Trial/trial.html"
                >Book Now
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div
              class="w-32 h-32 inline-flex items-center justify-center rounded-full bg-white text-indigo-500 mb-5 flex-shrink-0"
            >
              <img
                src="../../images/gs/goal.svg"
                alt="Goal icon"
                width="100px"
              />
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-bold mb-3">
                Schedule your session
              </h2>
              <p class="leading-relaxed text-base">
                schedule a tutoring session with one of our experienced tutors.
              </p>
              <a
                class="mt-3 text-orange-500 inline-flex items-center cursor-pointer"
                href="../Trial/trial.html"
                >Start Session
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
            <div
              class="w-32 h-32 inline-flex items-center justify-center rounded-full bg-white text-indigo-500 mb-5 flex-shrink-0"
            >
              <img
                src="../../images/gs/learning.svg"
                alt="Degree cap icon"
                width="100px"
              />
            </div>
            <div class="flex-grow">
              <h2 class="text-gray-900 text-lg title-font font-bold mb-3">
                Start learning
              </h2>
              <p class="leading-relaxed text-base">
                We'll provide you with personalized support and guidance,
                helping you to achieve your goals.
              </p>
              <a
                class="mt-3 text-green-500 inline-flex items-center cursor-pointer"
                href="../Trial/trial.html"
                >Start Now
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-2"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================= Contact Section ============================= -->
    <section class="text-gray-600 body-font relative bg-white" id="contact">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
          <h2
            class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900 font-bold leading-tight"
          >
            TRY FIRST LESSON FREE!
          </h2>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-800">
            Experience the excellence of our expert private tutoring services .
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-yellow-500 inline-flex"></div>
          </div>
        </div>

        <div class="lg:w-1/2 md:w-2/3 mx-auto">
          <div class="flex flex-wrap -m-2">
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="name" class="leading-7 text-sm text-gray-600"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="cell-number" class="leading-7 text-sm text-gray-600"
                  >Phone Number</label
                >
                <input
                  type="tel"
                  id="cell-number"
                  name="cell-number"
                  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3} required"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="email" class="leading-7 text-sm text-gray-600"
                  >Email</label
                >
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-1/2">
              <div class="relative">
                <label for="subject" class="leading-7 text-sm text-gray-600"
                  >Subject</label
                >
                <input
                  type="text"
                  id="subject"
                  name="subject"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                />
              </div>
            </div>
            <div class="p-2 w-full">
              <div class="relative">
                <label for="message" class="leading-7 text-sm text-gray-600"
                  >Message</label
                >
                <textarea
                  id="message"
                  name="message"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                ></textarea>
              </div>
            </div>
            <div class="p-2 w-full">
              <button
                class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded-xl text-lg uppercase"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ============================= Footer ============================= -->

    <div id="includeFooter"></div>
  </body>
</html>
