<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fee Structure for Canada</title>
    <link rel="stylesheet" href="fee-structure.css" />
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
      $(function () {
        $('#includeNavigation').load('../navigation/navigation.html');
      });
    </script>
  </head>
  <body>
    <div id="includeNavigation"></div>

    <!-- --------------------------   Main Image -------------------- -->
    <section>
      <img
        src="../.././images/pricing/Pricing-Header-For-UK-scaled.jpg"
        alt="picture of boy"
        class="pricing-main-image"
      />
      <!-- --------------------------   Classes Division -------------------- -->
    </section>
    <section class="classes-division">
      <div class="row">
        <h1>I AM LOOKING FOR:</h1>
        <div class="year-buttons">
          <a class="btn" href="#">GRADE 1-4</a>
          <a class="btn" href="#">GRADE 5-8</a>
          <a class="btn" href="#">GRADE 9-12</a>
        </div>
      </div>
    </section>
    <!-- --------------------------   GRADE 1-4  -------------------- -->

    <section class="year-group">
      <div class="row">
        <h2 class="group-heading">GRADE 1-4</h2>
        <div class="cards">
          <div class="card">
            <small class="days">2 DAYS / WEEK</small>
            <p class="fee">$110<span>/Month</span></p>
            <div class="discount">
              <span>$120</span>
              <span>SAVE 10%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Any 2 weekdays</li>
              <li>8 Classes per month</li>
            </ul>
          </div>
          <div class="card beneficial">
            <small class="days">5 DAYS / WEEK</small>
            <p class="fee">$230<span>/Month</span></p>
            <div class="discount">
              <span>$330</span>
              <span>SAVE 30%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Monday-Friday</li>
              <li>22 Classes per month</li>
            </ul>
          </div>
          <div class="card">
            <small class="days">03 DAYS / WEEK</small>
            <p class="fee">$150<span>/Month</span></p>
            <div class="discount">
              <span>$180</span>
              <span>SAVE 15%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Any 3 weekdays</li>
              <li>12 Classes per month</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- --------------------------   GRADE 5-8  -------------------- -->
    <section class="year-group">
      <div class="row">
        <h2 class="group-heading">GRADE 5-8</h2>
        <div class="cards">
          <div class="card">
            <small class="days">2 DAYS / WEEK</small>
            <p class="fee">$120<span>/Month</span></p>
            <div class="discount">
              <span>$135</span>
              <span>SAVE 10%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Any 2 weekdays</li>
              <li>8 Classes per month</li>
            </ul>
          </div>
          <div class="card beneficial">
            <small class="days">5 DAYS / WEEK</small>
            <p class="fee">$260<span>/Month</span></p>
            <div class="discount">
              <span>$375</span>
              <span>SAVE 30%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Monday-Friday</li>
              <li>22 Classes per month</li>
            </ul>
          </div>
          <div class="card">
            <small class="days">03 DAYS / WEEK</small>
            <p class="fee">$205<span>/Month</span></p>
            <div class="discount">
              <span>$205</span>
              <span>SAVE 15%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Any 3 weekdays</li>
              <li>12 Classes per month</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- --------------------------   GRADE 9-12   -------------------- -->
    <section class="year-group">
      <div class="row">
        <h2 class="group-heading">GRADE 9-12</h2>
        <div class="cards">
          <div class="card">
            <small class="days">2 DAYS / WEEK</small>
            <p class="fee">$140<span>/Month</span></p>
            <div class="discount">
              <span>$160</span>
              <span>SAVE 10%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Any 2 weekdays</li>
              <li>8 Classes per month</li>
            </ul>
          </div>
          <div class="card beneficial">
            <small class="days">5 DAYS / WEEK</small>
            <p class="fee">$310<span>/Month</span></p>
            <div class="discount">
              <span>$440</span>
              <span>SAVE 30%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Monday-Friday</li>
              <li>22 Classes per month</li>
            </ul>
          </div>
          <div class="card">
            <small class="days">03 DAYS / WEEK</small>
            <p class="fee">$200<span>/Month</span></p>
            <div class="discount">
              <span>$240</span>
              <span>SAVE 15%</span>
            </div>
            <ul>
              <li>One-to-one live session</li>
              <li>1-hour class each day</li>
              <li>Any 3 weekdays</li>
              <li>12 Classes per month</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- --------------------------   FEATURE SECTION  -------------------- -->

    <section>
      <div class="row">
        <div class="feature-section">
          <small>Feature</small>
          <h1>what you get</h1>
          <div class="feature-boxes">
            <div class="feature-box">
              <img
                src="../.././images/feature/dollar-svgrepo-com.svg"
                alt="Dollar coin"
              />

              <h3>economical pricing</h3>
              <p>
                We offer amazingly economical packages. Starting as low as less
                than $6 per hour. Yes you saw it absolutely right we have
                packages as low as $5.45 per hour.
              </p>
            </div>

            <div class="feature-box">
              <img
                src="../.././images/feature/document-svgrepo-com .svg"
                alt="#"
              />
              <h3>FREE WORKSHEETS</h3>
              <p>
                We provide practice and revision material completely free. If
                you look at most sites, they will charge you money if you want
                to use their resources.
              </p>
            </div>
            <div class="feature-box">
              <img
                src="../.././images/feature/sand-clock-svgrepo-com.svg"
                alt="#"
              />
              <h3>FLEXIBLE TIMINGS</h3>
              <p>
                We are available at whatever times our students need us. We are
                available till late in the night for our students to help them
                with their studies.
              </p>
            </div>
            <div class="feature-box">
              <img
                src="../.././images/feature/document-pen-sign-svgrepo-com.svg"
                alt="#"
              />
              <h3>MONTHLY PLANNERS</h3>
              <p>
                We have this unique feature that allows teachers, students, and
                parents to plan the whole month in advance and make sure that
                all the learning goals are achieved.
              </p>
            </div>
            <div class="feature-box">
              <img
                src="../.././images/feature/document-pencil-svgrepo-com.svg"
                alt="#"
              />
              <h3>MONTHLY ASSESSMENTS</h3>
              <p>
                We conduct monthly tests to make sure that we have achieved the
                goals that are set in monthly planners and students and parents
                can track the monthly progress.
              </p>
            </div>
            <div class="feature-box">
              <img
                src="../.././images/feature/document-svgrepo-com (1).svg"
                alt="#"
              />
              <h3>INTERACTIVE LEARNING</h3>
              <p>
                Learning with us is like doing your lessons with a teacher who
                is physically present with you. We bring the learning to your
                sitting room. You can learn from the comfort of your home.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------------------------ COURSE BOOKING SECTION --------------------   -->

    <section>
      <div class="row">
        <div class="course-booking">
          <h1>Book a course of study today</h1>
          <p>
            <q>MMS|MathMakeSmart</q> is offering six basic courses of study at
            your service for private tutoring. Book a free trial start
            e-learning <br />
            <span>now!</span>
          </p>
          <a href="#" class="btn trial-form-btn">trial form</a>
        </div>
      </div>
    </section>
    <div w3-include-html="footer.html"></div>
  </body>
</html>
