<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="fee-structure.css" />
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
      defer
    ></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script>
      $(function () {
        $('#includeNavigation').load('../navigation/navigation.html');
        $('#includeFooter').load('../footer/footer.html');
      });
    </script>
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Fee structure for UK</title>
  </head>
  <body>
    <div id="includeNavigation"></div>
    <!-- --------------------------   Main Image -------------------- -->
    <section>
      <img
        src="../.././images/pricing/Pricing-Header-For-UK-scaled.jpg"
        alt="picture of boy"
        class="pricing-main-image"
      />
    </section>
    <section
      class="classes-division flex flex-col container px-5 py-24 mx-auto bg-transparent"
    >
      <h1 class="text-4xl mt-6 font-bold text-gray-900">I AM LOOKING FOR:</h1>
      <div class="year-buttons flex gap-12">
        <button
          class="inline-flex text-white text-2xl bg-blue-500 border-0 rounded-xl py-2 px-6 focus:outline-none mt-12 hover:bg-blue-600 shadow-xl uppercase"
        >
          Year 1-4
        </button>
        <button
          class="inline-flex text-white text-2xl bg-blue-500 border-0 rounded-xl py-2 px-6 focus:outline-none mt-12 hover:bg-blue-600 shoadow-xl uppercase"
        >
          Year 5-8
        </button>
        <button
          class="inline-flex text-white text-2xl bg-blue-500 border-0 rounded-xl py-2 px-6 focus:outline-none mt-12 hover:bg-blue-600 shoadow-xl uppercase"
        >
          Year 9-10
        </button>
      </div>
    </section>
    <!-- --------------------------   YEAR GROUP 1-4  -------------------- -->
    <section class="text-gray-600 body-font overflow-hidden bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            class="sm:text-4xl text-2xl font-medium title-font mb-2 text-gray-900 font-bold leading-tight"
          >
            Year Group 1-4
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-800">
            Invest in Your Education with Competitive Rates
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4 justify-center item-center">
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
            >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                2 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none"
              >
                $110
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Any 2 weekdays
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >8 Classes per month
              </p>

              <button
                class="flex items-center mt-auto text-white bg-blue-400 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-500 rounded"
              >
                Get Started
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden"
            >
              <span
                class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
                >POPULAR</span
              >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                5 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
              >
                <span>$230</span>
                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Monday-Friday
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >22 Classes per month
              </p>
              <button
                class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-600 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
            >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                3 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
              >
                <span>$150</span>
                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Any 3 weekdays*
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >12 Classes per month
              </p>
              <button
                class="flex items-center mt-auto text-white bg-blue-400 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-500 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- --------------------------   YEAR GROUP 5-8  -------------------- -->
    <section class="text-gray-600 body-font overflow-hidden">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            class="sm:text-4xl text-2xl title-font mb-2 text-gray-900 font-bold leading-tight"
          >
            Year Group 5-8
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-800">
            Invest in Your Education with Competitive Rates
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4 item-center justify-center">
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
            >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                2 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none"
              >
                $120
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Any 2 weekdays
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >8 Classes per month
              </p>

              <button
                class="flex items-center mt-auto text-white bg-blue-400 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-500 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden"
            >
              <span
                class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
                >POPULAR</span
              >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                5 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
              >
                <span>$260</span>
                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Monday-Friday
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span
                  class="w-4 h-4 mr-2 bg-green-500 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >22 Classes per month
              </p>
              <button
                class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-600 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
            >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                3 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
              >
                <span>$170</span>
                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Any 3 weekdays*
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >12 Classes per month
              </p>
              <button
                class="flex items-center mt-auto bg-blue-400 text-white border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-500 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- --------------------------   YEAR GROUP 9-10  -------------------- -->
    <section class="text-gray-600 body-font overflow-hidden bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
          <h1
            class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900 font-bold leading-tight"
          >
            Year Group 10-11
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-gray-800">
            Invest in Your Education with Competitive Rates
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4 item-center justify-center">
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
            >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                2 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none"
              >
                $130
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Any 2 weekdays
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >8 Classes per month
              </p>

              <button
                class="flex items-center mt-auto text-white bg-blue-400 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-500 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden"
            >
              <span
                class="bg-blue-500 text-white px-3 py-1 tracking-widest text-xs absolute right-0 top-0 rounded-bl"
                >POPULAR</span
              >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                5 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
              >
                <span>$310</span>
                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Monday-Friday
              </p>
              <p class="flex items-center text-gray-600 mb-6">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >22 Classes per month
              </p>
              <button
                class="flex items-center mt-auto text-white bg-blue-500 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-600 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
          <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
            <div
              class="h-full shadow-2xl shadow-2xl p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden"
            >
              <h2 class="text-sm tracking-widest title-font mb-1 font-medium">
                3 DAYS / WEEK
              </h2>
              <h1
                class="text-5xl text-gray-900 leading-none flex items-center pb-4 mb-4 border-b border-gray-200"
              >
                <span>$200</span>
                <span class="text-lg ml-1 font-normal text-gray-500">/mo</span>
              </h1>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >One-to-one live session
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >1-hour class each day
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >Any 3 weekdays*
              </p>
              <p class="flex items-center text-gray-600 mb-2">
                <span
                  class="bg-green-500 w-4 h-4 mr-2 inline-flex items-center justify-center bg-gray-400 text-white rounded-full flex-shrink-0"
                >
                  <svg
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2.5"
                    class="w-3 h-3"
                    viewBox="0 0 24 24"
                  >
                    <path d="M20 6L9 17l-5-5"></path>
                  </svg> </span
                >12 Classes per month
              </p>
              <button
                class="flex items-center mt-auto text-white bg-blue-400 border-0 py-2 px-4 uppercase w-full focus:outline-none hover:bg-blue-500 rounded"
              >
                <a href="../Trial/trial.html"> Get Started </a>
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4 ml-auto"
                  viewBox="0 0 24 24"
                >
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </button>
              <p class="text-xs text-gray-500 mt-3">
                Literally you probably haven't heard of them jean shorts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- --------------------------   FEATURE SECTION  -------------------- -->

    <section class="text-gray-600 body-font bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div
          class="flex flex-wrap w-full mb-20 flex-col items-center text-center"
        >
          <h2
            class="text-xs text-gray-500 tracking-widest font-medium title-font mb-10"
          >
            FEATURE
          </h2>
          <h1
            class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900 font-bold leading-tight"
          >
            WHAT YOU GET
          </h1>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-800">
            Discover the Power of One-on-One Tutoring
          </p>
          <div class="flex mt-6 justify-center">
            <div class="w-16 h-1 rounded-full bg-blue-500 inline-flex"></div>
          </div>
        </div>
        <div class="flex flex-wrap -m-4 item-center justify-center">
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
                </svg>
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                ECONOMICAL PRICING
              </h2>
              <p class="leading-relaxed text-base">
                We offer amazingly economical packages. Starting as low as less
                than $6 per hour. Yes you saw it absolutely right we have
                packages as low as $5.45 per hour.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <circle cx="6" cy="6" r="3"></circle>
                  <circle cx="6" cy="18" r="3"></circle>
                  <path
                    d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"
                  ></path>
                </svg>
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                FREE WORKSHEETS
              </h2>
              <p class="leading-relaxed text-base">
                We provide practice and revision material completely free. If
                you look at most sites, they will charge you money if you want
                to use their resources.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                FLEXIBLE TIMINGS
              </h2>
              <p class="leading-relaxed text-base">
                We are available at whatever times our students need us. We are
                available till late in the night for our students to help them
                with their studies.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1zM4 22v-7"
                  ></path>
                </svg>
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                MONTHLY PLANNERS
              </h2>
              <p class="leading-relaxed text-base">
                We have this unique feature that allows teachers, students, and
                parents to plan the whole month in advance and make sure that
                all the learning goals are achieved.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                </svg>
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                MONTHLY ASSESSMENTS
              </h2>
              <p class="leading-relaxed text-base">
                We conduct monthly tests to make sure that we have achieved the
                goals that are set in monthly planners and students and parents
                can track the monthly progress.
              </p>
            </div>
          </div>
          <div class="xl:w-1/3 md:w-1/2 p-4">
            <div class="border border-gray-200 p-6 rounded-lg">
              <div
                class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"
              >
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-10 h-10"
                  viewBox="0 0 24 24"
                >
                  <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path>
                </svg>
              </div>
              <h2 class="text-lg text-gray-900 font-medium title-font mb-2">
                INTERACTIVE LEARNING
              </h2>
              <p class="leading-relaxed text-base">
                Learning with us is like doing your lessons with a teacher who
                is physically present with you. We bring the learning to your
                sitting room. You can learn from the comfort of your home.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ------------------------------ COURSE BOOKING SECTION --------------------   -->
    <section
      class="text-gray-600 body-font bg-gradient-to-r from-blue-700 to-blue-800"
    >
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-8">
          <h1 class="sm:text-3xl text-2xl title-font font-bold mb-4 text-white">
            BOOK A COURSES OF STUDY TODAY!
          </h1>
          <p class="lg:w-2/3 mx-auto leading-relaxed text-white">
            “SMS|scincemathsmart” is offering six basic courses of study at your
            service for private online tutoring. Book a free trial and start
            e-learning NOW!
          </p>
        </div>
        <button
          class="flex mx-auto text-white inline bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded-xl text-lg uppercase"
          href="../Trial/trial.html"
        >
          <a href="../Trial/trial.html">Free Trial </a>
        </button>
      </div>
    </section>

    <!-- ============================================== -->
    <div id="includeFooter"></div>
  </body>
</html>
