@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --gutter-huge: 15rem;
  --gutter-normal: 6rem;
  --gutter-medium: 4rem;
  --gutter-small: 3rem;
  --gutter-x-small: 2rem;
  --gutter-xx-small: 1rem;

  --h1: 4.8rem;
  --h2: 6.4rem;
  --h3: 3.2rem;
  --p: 2.4rem;
  --p-small: 1.8rem;

  --primary-color: #0f52ba;
  --secondary-color: #0c4497;
  --light-blue: #115dd0;
  --light-font-color: #f7f7f7;
  --dark-font-color: #111;
  --light-dark-font-color: #333;
  --small-font-color: #666;
  --orange-btn: #fa9746;
  --orange-btn-light: #fba660;
  --bg-gradient: linear-gradient(
    90deg,
    rgb(34, 108, 235) 2%,
    rgb(69, 127, 177) 45%,
    rgb(54, 103, 163) 100%
  );
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--light-font-color);
  font-family: "Lato", sans-serif;
}

/* *===================================
  *========== Reuseable Components =======
  *======================================= */

.btn {
  text-decoration: none;
  background-color: var(--primary-color);
  color: var(--light-font-color);
  padding: var(--gutter-x-small) var(--gutter-small);
  border-radius: 15px;
  transition: 0.3s;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--light-blue);
}
/* ========================================== */
.nav-message {
  background-color: var(--secondary-color);
  color: var(--light-font-color);
  display: flex;
  gap: var(--gutter-x-small);
  padding: 5px var(--gutter-normal);
}
.cell-number,
.email {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.nav-message img,
nav img {
  height: 12px;
}

@media (max-width: 600px) {
  .nav-message {
    padding: 4px 20px;
  }
}
@media (max-width: 440px) {
  .nav-message {
    flex-direction: column;
    align-items: center;
    gap: 2px;
    padding: 4px;
  }
}

.wwo-section .row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter-medium);
}

.wwo-section .row article {
  max-width: 300px;
}

.blob {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width=%22639.196%22 height=%22571.58%22 viewBox=%22194.764 246.422 639.196 571.58%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M765.5 686.5Q621 873 411.5 795T195 495.5Q188 274 388.5 250t361 113q160.5 137 16 323.5Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%230c4497%22 d=%22M765.5 686.5Q621 873 411.5 795T195 495.5Q188 274 388.5 250t361 113q160.5 137 16 323.5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 1024px) {
  .blob {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 580px) {
  .blob {
    width: 300px;
    height: 300px;
  }
}

/* =============== About US ========================== */
@media (max-width: 770px) {
  .team-img,
  .ceo-img {
    width: 240px;
    height: 240px;
  }
}
